/* Main container for the project card */
.project-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  gap: 20px;
  padding: 40px 100px 40px 100px;
  border-radius: 10px;
}

/* Layout for image on the left */
.project-card-container.image-left {
  flex-direction: row;
  /* Default layout */
}

/* Layout for image on the right */
.project-card-container.image-right {
  flex-direction: row-reverse;
  /* Reverse the layout */
}

/* Styling for the image container */
.project-card-image img {
  width: auto;
  height: 317px;
  object-fit: cover;
  border-radius: 10px;
}

/* Styling for the content container */
.project-card-content {
  position: relative;
  /* leave space for the line */
  color: white;
  text-align: left;
}

.project-card-content.image-right {
  position: relative;
  /* leave space for the line */
  color: white;
  text-align: right;
}


.seaparationLine {
  width: 15px;
  /* Thickness of the line */
  height: 200px;
  /* Height of the line */
  background-color: white;
  /* Color of the line */
  border-radius: 40px;
  /* Rounded edges */
  margin: 0 30px;
}


/* Title styling */
.project-card-title {
  text-orientation: mixed;
  place-items: center;
  font-size: 32px;
  font-weight: bold;
  background-color: transparent;
  line-height: 1;
}

/* Description styling */
.project-card-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Tag container */
.project-card-tags-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* margin: 30px 0; */
  padding: 0;
  flex-wrap: wrap;
}

.project-card-tags-container.image-right{
flex-direction: row-reverse;
}

/* Each Tag */
.project-card-tag {
  border: solid 2px white;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;

}

/* All tags together ul */
.project-card-tags {
  border-radius: 15px;
  text-decoration: none;
  list-style-type: none;
    margin: 10px 0 10px 0;  
}