.TopHeading{
color: white;
font-weight: normal;
font-size: 20px;
}
.BottomHeading{
color: white;
font-weight: normal;
font-size: 20px;
}

.error-page-heading{
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
margin-top: 20%;
}

@media (max-width:480px){
    .TopHeading,.BottomHeading{
        font-size: 12px;
    }
    .error-page-heading{
        margin-top: 50dvh;
    }
}