.homepage {
    align-items: center;
}

.homepage-phrase {
    font-size: 70px;
    font-weight: bold;
    color: white;
    line-height: 1.2;
}

.homepageSection1Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 0 3vw;
    margin-top: 13dvh;
}

.homepageImages {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.homeImageDimensions {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homepageSection2Wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    overflow: hidden;
    margin: 20vh 0 15vh 0;
}

.homepageSection2Container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 50px 10px 50px 10px;
    scrollbar-width: none;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: white;
    border-radius: 20px;

}

.scrollImage {
    flex: 0 0 auto;
    width: auto;
    height: 317px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.homepageSection2Button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepageSection2Button.Left {
    left: 10px;
}

.homepageSection2Button.Right {
    right: 10px;
}


.project-text-wrapper {
    z-index: 1000;
    position: absolute;
    margin-top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 100%;

}

.stroke {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    font-weight: bold;
    background-color: transparent;
    -webkit-text-fill-color: transparent;
    position: absolute;

}

/* Top half (black stroke) */
.stroke.top {
    -webkit-text-stroke: 2px white;
    clip-path: inset(0 0 50% 0);
}

/* Bottom half (white stroke) */
.stroke.bottom {
    -webkit-text-stroke: 2px #121212    ;
    clip-path: inset(50% 0 0 0);
}


@media (max-width: 1024px) {
    .homepageImages {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 0dvh;
    }

    .homeImageDimensions {
        width: 200px;
        height: 350px;
        margin-top: 0dvh;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .homepage-phrase {
        margin-top: 10vh;   
    }
}

@media (max-width: 768px) {
    .homepageImages {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .homeImageDimensions {
        width: 400px;
        height: 500px;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        object-fit: cover;
    }

    .homepage-phrase { 
        font-size: 60px; 
        background-color: transparent; 
        position: absolute; /* Position the phrase on top of the image */
        top: 45%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); 
        color: #121212;
    }

    .homepageSection1Container{
        margin-top: 0vh;
        flex-direction: column;
        padding: none;
        gap: 5vh;
    }

    .homeImageDimensions:nth-child(1) {
        display: none; /* Hide the second image */
    }


}