.homepage {
    align-items: center;
}

.homepage-phrase {
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-top: 24dvh;
    line-height: 1.2;
}

.homepageSection1Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 0 3vw;
}

.homepageImages {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 3dvh;
}

.homeImageDimensions {
    width: 300px;
    height: 450px;
    margin-top: 10dvh;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homepageSection2Wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    overflow: hidden;
    margin-top: 20vh;
}

.homepageSection2Container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 50px 10px 50px 10px;
    scrollbar-width: none;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: white;
    border-radius: 20px;

}

.scrollImage {
    flex: 0 0 auto;
    width: auto;
    height: 317px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.homepageSection2Button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepageSection2Button.Left {
    left: 10px;
}

.homepageSection2Button.Right {
    right: 10px;
}